/* chivo-700 - latin */
@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../fonts/chivo-v17-latin-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/chivo-v17-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* chivo-900 - latin */
@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 900;
  src: local(''), url('../fonts/chivo-v17-latin-900.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/chivo-v17-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html,
body {
  width: 100%;
  margin: 0;
  pading: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Chivo', sans-serif;
  font-display: swap;
}

p,
ul,
ol,
li {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 0.6em;
}

blockquote {
  background: #fdfdfd;
  border-left: 6px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  color: #333;
}

.container {
  max-width: 65ch;
  padding: 2em;
  margin: 0 auto;
}

.note-content a {
  position: relative;
  display: inline-block;
  color: #000;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
}

.note-content a:before {
  content: '';
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  height: 3px;
  border-radius: 2px;
  background: linear-gradient(130deg, #ffcc00, #00ffa5 41.07%, #d400ff 76.05%);
}
