{
    "presets": [
        [
            "babel-preset-gatsby-package",
            {
    "browser": true
            }
        ], ["babel-preset-gatsby"]
    ],
    "plugins": [
        ["prismjs", {
          "languages": ["javascript", "css", "markup", "graphql", "jsx"],
          "plugins": ["show-language"],
          "theme": "one-light",
          "css": true
        }]
    ]
}