<style>
  img {
    float: right;
    margin-left: 1.2rem;
    margin-bottom: 1.2rem;
  }
</style>

<content>
  <img
    src="/images/me.jpg"
    alt="A photo of me. I have short brown hair with brown eyes. I'm wearing a colourful dress and I'm smiling."
    width="240"
  />
  <div>
    <p>
      Hi 👋🏼 I'm Rach. A 37 year old <a
        href="/full-stack-t-shaped-comb-shaped-developer-or-engineer/"
        >developer</a
      > building software for CodePen, wife, mother of two, productivity nerd
      and recovering screen addict. This is my digital garden.
    </p>
    <p>
      I grew up in a small coastal town in Queensland, Australia. I was obsessed
      with computers as a kid and the internet as a teen, and new I wanted to do
      something with coding as an adult.
    </p>
    <p>
      It took me a while to land on a career and after a few detours I finally
      discovered front end development as a profession. I spent the first years
      of my career working in different digital and advertising agencies in
      Australia and London until I landed a dream job with <a
        href="https://activetheory.net/">Active Theory</a
      > in Venice, California.
    </p>
    <p>
      I lived and worked in LA for a few years until I was offered a job with <a
        href="https://codepen.io">CodePen</a
      >, and I've been with them ever since. I do front end and backend work
      now, I specialise in the communication between the two, designing and
      implementing most of our internal APIs.
    </p>
    <p>
      I've moved back to Australia now, where I live with my husband Andy, a
      primary schooler and a preschooler. Outside of work and looking after the
      kids I don't have too much time for hobbies, so writing on this site is an
      attempt to make time for myself and my interests. I do better at it some
      times than others.
    </p>
  </div>
</content>
