---
const { index } = Astro.props;
---

<!-- comment by Alexxx from <a href="https://thenounproject.com/browse/icons/term/comment/" target="_blank" title="comment Icons">Noun Project</a> (CC BY 3.0) -->
<div class="comment-icon" data-index={index}>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
    x="0px"
    y="0px"
    viewBox="0 0 100 125"
    enable-background="new 0 0 100 100"
    xml:space="preserve"
  >
    <g>
      <g>
        <path
          d="M87.913,43.843c0-21.239-17.214-38.458-38.455-38.458C28.216,5.385,11,22.604,11,43.843    c0,20.782,16.485,37.699,37.092,38.418c2.958,2.88,12.534,10.995,23.374,7.69c0,0,3.226-0.883,1.506-3.521    c-1.088-1.669-3.257-5.437-4.747-9.021C79.969,70.829,87.913,58.262,87.913,43.843z M56.999,56.72H34.922    c-2.255,0-4.087-2.299-4.087-5.136c0-2.827,1.832-5.122,4.087-5.122h22.077c2.257,0,4.087,2.294,4.087,5.122    C61.086,54.421,59.256,56.72,56.999,56.72z M63.651,39.797H35.963c-2.836,0-5.128-2.298-5.128-5.129    c0-2.833,2.292-5.126,5.128-5.126h27.688c2.83,0,5.127,2.293,5.127,5.126C68.778,37.499,66.481,39.797,63.651,39.797z"
        ></path>
      </g>
    </g>
  </svg>
</div>

<style>
  .comment-icon {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    vertical-align: middle;
    fill: var(--color-text);
  }
</style>
