<footer>
  <section>
    <h3>Acknowledgement of Country</h3>
    <p>
      I acknowledge the <a class="link" href="https://gubbigubbidyungungoo.com/gubbi-gubbi-people/">Gubbi Gubbi people</a>, the Traditional Owners of the land
      and waterways where I live. I would like to pay my respects to Elders
      past, present and emerging.
    </p>
  </section>
  <section class="">
    © {new Date().getFullYear()} Rachel Smith
  </section>
</footer>