---
import OutlineHeading from './OutlineHeading.astro';
import Section from './Section.astro';
import Tags from './Tags.astro';

const { tags } = Astro.props;
---

<style>
  .link {
    color: inherit;
  }

  .social-links {
    list-style: none;
    padding: 0;
    margin-top: 0;
  }

  .social-links li {
    display: inline-block;
    font-family: var(--mono-font);
    text-transform: uppercase;
    font-size: 0.9rem;
  }

  .social-links li:not(:last-child) {
    margin-right: 0.5rem;
  }

  .social-links li:not(:last-child)::after {
    content: '•';
    margin-left: 0.5rem;
  }

  .social-links li a {
    text-decoration: none;
    color: #057DFF;
  }

  .email {
    margin-bottom: 0.2em;
  }

  .email a {
    color: inherit;
  }
</style>

<footer>
  <section class="">
    <OutlineHeading>Browse Notes by tag</OutlineHeading>
    <Section>
      <Tags {tags} />
    </Section>
  </section>
  <section class="">
    <OutlineHeading>Get in touch</OutlineHeading>
    <Section>
      <p class="email">
        Email me at: hi@olek.works
      </p>
      <ul class="social-links">
        <li><a href="https://mastodon.world/@olek">Mastodon</a></li>
      </ul>
    </Section>
  </section>
  <section class="">
    © 2022 - {new Date().getFullYear()} Olek.Works | <a href="https://rachsmith.com/">Kudos to Rach Smith for the template</a>
  </section>
</footer>