---
const { page, HeaderComponent } = Astro.props;
---

<section class="">
  {HeaderComponent &&
  <HeaderComponent />}

  {page === 'note' && (<h2 class="header">
    I write about what matters to me
  </h2>)}

  {page === 'page' && (<h2 class="header">
    <a href="/"> My name is Olek</a>
  </h2>)}
</section>

<style>
  .header {
    text-align: center;
    font-size: 1.1em;
    font-weight: 400;
    margin-bottom: 3em;
    font-family: var(--mono-font);
  }

  a {
    color: var(--pear-black-color);
  }
</style>