---
const { page, HeaderComponent } = Astro.props;
---

<section class="">
  {HeaderComponent &&
  <HeaderComponent />}

  {page === 'note' && (<h2 class="header">
    A note from <a href="/">Rach Smith's digital garden</a>.
  </h2>)}

  {page === 'page' && (<h2 class="header">
    <a href="/"> Rach Smith's digital garden</a>.
  </h2>)}
</section>

<style>
  .header {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 3em;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
      helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
      sans-serif;
  }
</style>