---
import Header from "./Header.astro";
import Footer from "./Footer.astro";

const { page, tags, HeaderComponent } = Astro.props;

---

<div class="container">
  <Header {page} {HeaderComponent} />
  <main class="">
    <slot />
  </main>
  <Footer {tags} />
</div>
