---
type Props = {
  page: string;
};

import Sidebar from './Sidebar.astro';
import Footer from './Footer.astro';

const { page } = Astro.props;
---

<style>
  .container {
    max-width: 59ch;
    grid-column-start: 2;
    padding: 1em 1em 1em 2em;
    box-sizing: border-box;
  }

  @media (min-width: 930px) {
    .container {
      padding: 1em 1em 1em 3em;
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: minmax(220px, 20vw) 1fr;
  }
</style>

<Sidebar page={page} />
<div class="grid-container">
  <div class="container">
    <main>
      <slot />
    </main>
    <Footer />
  </div>
</div>

<script
  async
  defer
  data-domain="rachsmith.com"
  src="https://plausible.io/js/plausible.js"
></script>
