---
const { slug, title, added } = Astro.props;

const addedSegments = added.split(' ')[0].split('-');
const day = addedSegments[2];
---

<style>
  li {
    margin-bottom: 0.5em;
    display: flex;
  }

  .date {
    margin-right: 0.5em;
  }

  li a {
    text-decoration: none;
  }
</style>

<li>
  <span class="date">{day}</span>
  <a href={`/${slug}/`}>{title}</a>
</li>
