---
import Tag from './Tag.astro';

const { slug, title, tags, added } = Astro.props;

const addedSegments = added.split(' ')[0].split('-');
const date =
  addedSegments[2] + '·' + addedSegments[1] + '·' + addedSegments[0].slice(2);
---

<style>
  .date {
    display: block;
    letter-spacing: 1px;
    font-size: 0.9rem;
    color: #555;
    font-family: var(--mono-font);
  }
  .title {
    font-weight: bold;
    color: #222;
    text-decoration: none;
    display: inline;
    line-height: 1.6;
  }

  .title:hover {
    text-decoration: underline;
  }

  .excerpt {
    font-size: 0.9em;
    line-height: 1;
    color: #333;
  }

  ul {
    list-style: none;
    padding: 0;
    display: inline;
    vertical-align: top;
  }

  li {
    margin-bottom: 1.2em;
    list-style: none;
    display: block;
  }

  .tag {
    display: inline-block;
    margin-bottom: 0.3em;
  }
</style>

<li>
  <span class="date">{date}</span>
  <a href={`/${slug}/`} class="title">{title}</a>
  <ul>
    {
      tags.map((tag) => (
        <li class="tag">
          <Tag {tag} small />
        </li>
      ))
    }
  </ul>
</li>
