<style>
  ul {
    margin-bottom: 6rem;
  }
</style>

<content>
  <h1>What I'm doing now</h1>
  <p>Updated: Mon 24th June, 2024</p>
  <ul>
    <li>Practicing the <a href="/roland-f701/">Piano</a>.</li>
    <li>
      Journaling in my <a href="/hobonichi-techo-cousin/">Hobonichi Cousin</a>.
    </li>
    <li>Going to my kid's soccer training and games.</li>
    <li>Volounteering to help with the School Trivia Night.</li>
    <li>
      Jumping on my <a
        href="https://www.healthline.com/health/exercise-fitness/rebounding"
        >trampoline</a
      >.
    </li>
    <li>Doing some handlettering every day.</li>
    <li>
      Reading the <a href="https://en.wikipedia.org/wiki/Mistborn"
        >Mistborn Trilogy</a
      >. I'm up to book 2: The Well of Ascension.
    </li>
    <li>Eating as much fruit and veg as I can.</li>
    <li>Easing back in to running.</li>
    <li>
      Working on moving the new <a href="https://codepen.io">CodePen</a> Editor
      from an Alpha to Beta.
    </li>
    <li>Surviving the school holidays 🤪</li>
  </ul>
</content>
