<style>
  ul {
    margin-bottom: 6rem;
  }
</style>

<content>
  <h1>What I'm doing now</h1>
  <p>Updated: Mon 13th May, 2024</p>
  <ul>
    <li>Practicing the <a href="/roland-f701/">Piano</a>.</li>
    <li>
      Journaling in my <a href="/hobonichi-techo-cousin/">Hobonichi Cousin</a>.
    </li>
    <li>Going to my kid's soccer training and games.</li>
    <li>Volounteering to help with the School Trivia Night.</li>
    <li>
      Jumping on my <a
        href="https://www.healthline.com/health/exercise-fitness/rebounding"
        >trampoline</a
      >.
    </li>
    <li>
      Participating in <a
        href="https://weblog.anniegreens.lol/weblog-posting-month-2024"
        >#WeblogPoMo2024</a
      >.
    </li>
    <li>
      Reading the <a href="https://en.wikipedia.org/wiki/Mistborn"
        >Mistborn Trilogy</a
      >.
    </li>
    <li>Eating as much fruit and veg as I can.</li>
    <li>Doing my hamstring rehab exercises.</li>
    <li>
      Working on moving the new <a href="https://codepen.io">CodePen</a> Editor
      from an Alpha to Beta.
    </li>
    <li>Trying my best to spend a little time with a friend each week.</li>
    <li>Feeling loved after Mother's Day 🥰</li>
  </ul>
</content>
