---
type Props = {
  page: string;
};

const { page } = Astro.props;

console.log(page);
---

<style>
  .sidebar {
    position: fixed;
    width: 20vw;
    min-width: 220px;
    padding: 4em 1em 3em 2em;
    text-align: right;
    box-sizing: border-box;
  }

  .nav ul {
    list-style: none;
    display: grid;
    align-items: right;
    margin: 0;
    padding: 0;
  }

  .nav li {
    text-transform: uppercase;
    margin-bottom: 0.4em;
  }

  .nav li a {
    text-decoration: none;
    font-size: 1.1em;
    position: relative;
    display: block;
    transition: padding-right 0.2s ease-in-out;
    line-height: 1.2;
  }

  .nav li a:hover,
  .nav li a.active {
    padding-right: 10px;
  }

  .nav li a::after {
    content: '';
    display: block;
    width: 4px;
    height: 0;
    background: var(--gradient-color);
    transition: width 0.3s;
    position: absolute;
    right: 0;
    top: 13px;
    border-radius: 2px;
    transition: height 0.1s ease-out, top 0.1s ease-out;
  }

  .nav li a:hover::after,
  .nav a.active::after {
    height: 17px;
    top: 5px;
    transition: height 0.2s ease-in, top 0.2s ease-in;
  }

  .lorikeet {
    width: 120%;
  }

  h1 {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 1em;
    line-height: 1.1;
    text-align: right;
  }

  .settings li {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1.2em;
    column-gap: 0.5em;
    font-size: 0.7em;
    font-family: var(--font-mono);
    line-height: 1;
    margin-bottom: 0.8em;
  }

  input[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;
    var(--background-color);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.2em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }

  input[type='checkbox']::before {
    content: '';
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-image: var(--gradient-color);
  }

  input[type='checkbox']:checked::before {
    transform: scale(1);
  }

  h1 {
    text-transform: uppercase;
    font-weight: normal;
    transform: skew(-10deg) rotate(-10deg);
    margin-right: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 span {
    display: inline-block;
    position: relative;
  }

  h1 span::after {
    content: '';
    display: block;
    position:absolute;
    width: 104%;
    left: -2%;
    height: 130%;
    top: -5%;
    z-index: -1;
  }

  h1 span:nth-child(1)::after {
    background: hsla(18, 87%, 53%, 0.5);
  }
  h1 span:nth-child(2)::after {
    background: hsla(49, 93%, 51%, 0.5)
  }
  h1 span:nth-child(3)::after {
    background: hsla(253, 45%, 47%, 0.5)
  }

</style>

<div class="sidebar">
  <img class="lorikeet" src="/images/lori.png" alt="Rach Smith" />
  <h1><span>Rach Smith's</span><span>digital</span><span>garden</span></h1>
  <nav class="nav">
    <ul>
      <li><a class:list={{ active: page === 'notes' }} href="/">Notes</a></li>
      <li><a class:list={{ active: page === 'tags' }} href="/tags/">Tags</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>

  <ul class="settings">
    <li>
      <label for="dark-mode">dark mode</label><input
        id="dark-mode"
        type="checkbox"
      />
    </li>
    <li>
      <label for="rainbows">rainbows</label><input
        id="rainbows"
        type="checkbox"
      />
    </li>
    <li>
      <label for="mouse-trails">mouse trails</label><input
        id="mouse-trails"
        type="checkbox"
      />
    </li>
  </ul>
</div>
