---
import RSSIcon from './RSSIcon.astro';
type Props = {
  page: string;
};

const { page } = Astro.props;
---

<style>
  .sidebar {
    min-width: 220px;
    text-align: right;
    box-sizing: border-box;
    padding: 10% 10% 0 10%;
    position: relative;
  }

  @media (min-width: 640px) {
    .sidebar {
      position: fixed;
      width: 20vw;
      padding: 4em 1em 3em 2em;
    }
  }

  .site-name-link {
    text-decoration: none;
  }

  .site-name {
    font-size: 8vw;
    margin: 0;
    margin-bottom: 1em;
    margin-right: -30%;
    line-height: 1.1;
    text-align: right;
    text-transform: uppercase;
    font-weight: normal;
    transform: skew(-10deg) rotate(-10deg);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 640px) {
    .site-name {
      font-size: 1.5rem;
      margin-right: -20px;
    }
  }

  .site-name span {
    display: inline-block;
    position: relative;
  }

  .site-name span::after {
    content: '';
    display: block;
    position: absolute;
    width: 104%;
    left: -2%;
    height: 130%;
    top: -5%;
    z-index: -1;
  }

  .site-name span:nth-child(1)::after {
    background: hsla(18, 87%, 53%, 0.5);
  }
  .site-name span:nth-child(2)::after {
    background: hsla(49, 93%, 51%, 0.5);
  }
  .site-name span:nth-child(3)::after {
    background: hsla(253, 45%, 47%, 0.5);
  }

  .nav ul {
    list-style: none;
    align-items: right;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }

  @media (min-width: 640px) {
    .nav ul {
      grid-template-columns: none;
      display: grid;
    }
  }

  .nav li {
    text-transform: uppercase;
    margin-bottom: 0.4em;
    padding-left: 1em;
  }

  .nav li a {
    text-decoration: none;
    font-size: 1.1em;
    position: relative;
    display: block;
    transition: padding-right 0.2s ease-in-out;
    line-height: 1.2;
  }

  .nav li a.rss-link {
    display: flex;
  }

  .nav li a.rss-link span {
    display: none;
  }

  @media (min-width: 640px) {
    .nav li a.nav-link:hover,
    .nav li a.nav-link.active {
      padding-right: 10px;
    }

    .nav li a.nav-link::after {
      content: '';
      display: block;
      width: 4px;
      height: 0;
      background: var(--accent-color);
      transition: width 0.3s;
      position: absolute;
      right: 0;
      top: 13px;
      border-radius: 2px;
      transition:
        height 0.1s ease-out,
        top 0.1s ease-out;
    }

    :global(.rainbows) .nav li a.nav-link::after {
      background: var(--gradient-color);
    }

    .nav li a.nav-link:hover::after,
    .nav li a.nav-link.active::after {
      height: 17px;
      top: 5px;
      transition:
        height 0.2s ease-in,
        top 0.2s ease-in;
    }

    .nav li a.rss-link span {
      display: inherit;
    }
  }

  .lorikeet {
    position: absolute;
    width: 60vw;
    left: -24vw;
    top: -2vw;
    transform: rotate(20deg);
    min-height: 200px;
  }

  @media (min-width: 640px) {
    .lorikeet {
      position: unset;
      width: 120%;
      transform: rotate(0deg);
      left: unset;
      top: unset;
    }
  }

  .settings {
    display: flex;
    justify-content: flex-end;
    padding: 0px;
  }

  @media (min-width: 640px) {
    .settings {
      display: block;
      margin-top: 1em;
    }
  }

  .settings li {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1.2em;
    column-gap: 0.5em;
    font-size: 0.7em;
    font-family: var(--font-mono);
    line-height: 1;
    margin-bottom: 0.8em;
    margin-left: 0.6em;
    align-items: center;
  }

  input[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.2em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }

  input[type='checkbox']::before {
    content: '';
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-image: linear-gradient(
      45deg,
      var(--accent-color),
      var(--accent-color)
    );
  }

  :global(.rainbows) input[type='checkbox']::before {
    background-image: var(--gradient-color);
  }

  input[type='checkbox']:checked::before {
    transform: scale(1);
  }
</style>

<div class="sidebar">
  <a href="/"
    ><img class="lorikeet" src="/images/lori.png" alt="Rach Smith" /></a
  >
  <a href="/" class="site-name-link"
    ><div class="site-name">
      <span>Rach Smith's</span><span>digital</span><span>garden</span>
    </div></a
  >
  <nav class="nav">
    <ul>
      <li>
        <a class:list={{ active: page === 'notes', 'nav-link': true }} href="/"
          >Notes</a
        >
      </li>
      <li>
        <a
          class:list={{ active: page === 'tags', 'nav-link': true }}
          href="/tags/">Tags</a
        >
      </li>
      <li>
        <a
          class:list={{ active: page === 'about', 'nav-link': true }}
          href="/about/">About</a
        >
      </li>
      <li>
        <a href="/feed.xml" class="rss-link"
          ><span class="text">Subscribe</span><RSSIcon />
        </a>
      </li>
    </ul>
  </nav>

  <ul class="settings">
    <li>
      <label for="rainbows">rainbows</label><input
        id="rainbows"
        type="checkbox"
      />
    </li>
    <li>
      <label for="cursor-trails">cursor trails</label><input
        id="cursor-trails"
        type="checkbox"
      />
    </li>
    <li>
      <label for="dark-mode">dark mode</label><input
        id="dark-mode"
        type="checkbox"
      />
    </li>
  </ul>
</div>
