---
const { tag, number, small } = Astro.props;
---

<style>
  a {
    font-family: var(--font-mono);
    font-size: 0.8em;
    margin-right: 0.6em;
  }
</style>
<a href={`/tag/${tag}/`} class={`tag ${tag} ${small ? 'small' : ''}`}>
  #{tag}{number && <span>{number}</span>}
</a>
