---
const { tags } = Astro.props;
---

<ul class="tags-list">
  {
    tags.map((tag) => (
      <li class="tag-name">
        <a href={`/tags#${tag.name}`}>#{tag.name}</a>
      </li>
    ))
  }
</ul>

<style>
  .tag-name {
    margin-bottom: 0;
    font-weight: bold;
    font-family: var(--font-mono);
    font-size: 1em;
  }

  .tags-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  .tags-list li {
    margin: 0 1em 0 0;
    font-weight: normal;
    font-size: 0.8em;
    font-family: var(--font-mono);
  }

  .tags-list li a {
    text-decoration: none;
  }

  .tags-list li a:hover {
    text-decoration: underline;
  }

  .tag-name:nth-of-type(7n + 1) a {
    color: var(--red);
  }
  .tag-name:nth-of-type(7n + 2) a {
    color: var(--orange);
  }
  .tag-name:nth-of-type(7n + 3) a {
    color: var(--pink);
  }
  .tag-name:nth-of-type(7n + 4) a {
    color: var(--green);
  }
  .tag-name:nth-of-type(7n + 5) a {
    color: var(--light-blue);
  }
  .tag-name:nth-of-type(7n + 6) a {
    color: var(--purple);
  }
  .tag-name:nth-of-type(7n + 7) a {
    color: var(--blue);
  }
</style>
